#update {
    display: none;
    position: relative;
    left: 850px;
}

h1 {
    margin-top: 50px;
    text-align: center;
    text-decoration: underline;
}

img {
    height: 180px;
    width: 150px;
    position: relative;
    top: -80px;
    left: 1550px;
}

label {
    margin-left: 450px;
}

#submit {
    position: relative;
    left: 850px;
}

input {
    text-align: center;
    margin-left: 200px;
    height: 30px;
}

th {
    text-align: center;
}
#type {
    width: 500px;
}

#name {
    width: 500px;
}

#mail {
    width: 500px;
}

#date_debut {
    width: 500px;
}

#telephone {
    width: 500px;
}

#telephone_ecole {
    width: 500px;
}

#date_fin {
    width: 500px;
}

#statut {
    width: 500px;
}